body {
    background-color: lightgrey;
    height: 2000px;
}

.ads {
    width: 350px;
    height: 250px;
    background-color: lightblue;

    /* 固定定位 */
    position: fixed; 
    right: 0px;
    bottom: 0px;
}

.ads button {
    float: right;
    margin-right: 20px;
}