*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
}
div{
    width: 1200px;
    height: 1500px;
    background: #eee;
    margin: 30px auto;
}
#back{
    text-align: center;
    position: fixed;
    bottom: 100px;
    right: 60px;
    background: #ccc;
    border-radius: 3px;
    height: 50px;
    width: 80px;
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
}