*{
    margin: 0px;
    padding: 0px;
}
html {
    /* font-size: 100px; */
    /* 按100px算 */
    font-size: 50px;
}
body {
    font-size: 14px;
}

.top {
    width: 7.5rem;
    display: flex;
    flex-direction: row;
    margin: 0.62rem auto;
    margin-bottom: 0.30rem;
}
.top span {
    margin: 0 2.60rem;
    font-size: 0.36rem;
    font-weight: bold;
}
.top a {
    text-decoration: none;
    font-size: 0.36rem;
    font-weight: bold;
    margin-left: 0.2rem;
}
.top a img {
    width: 0.2rem;
    height: 0.35rem;
}

.content {
    width: 7.5rem;
    margin:0.85rem auto;
    display: flex;
    flex-direction: column;
}
.content-1 {
    width: 2.49rem;
    height: 2.95rem ;
    background: url(../img3/1.png) no-repeat;
    background-size: 2.49rem 2.95rem;
    margin: auto;
    display: flex;
    position: relative;
}
.content-1 span {
    width: 1.96rem;
    height: 1.96rem;
    border-radius: 1.96rem;
    background: #B2B2B2;
    opacity: 0.6;
    margin: auto;
    text-align: center;
    line-height: 1.96rem;
}
.content-1 img {
    position: absolute;
    width: 1.76rem;
    height: 0.36rem;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;  
}
.content p {
    margin: auto;
    margin-top: 0.30rem;
    font-size: 0.30rem;
    font-weight: 550;
    color: #333333;
}

.content-info {
    width: 6.90rem;
    height: 2.38rem;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin: 0.36rem auto;  
    padding-bottom: 0.40rem;
}
.content-inf-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.40rem;
    margin-left: 0.40rem;
    margin-right: 0.40rem;
}
.content-inf-1 span {
    color: #656565;
    font-size: 0.28rem;
}

.footer {
    width: 6.90rem;
    margin: 0.28rem auto;
}
.footer p {
    font-size: 0.24rem;
    color: #60739A;
}
.comment {
    position: relative;
}
.comment textarea {
    width: 6.90rem;
    height: 2.25rem;
    border: none;
    background: #F8F8F8;
    border-radius: 5px;
    margin-top: 0.15rem;
    padding-top: 0.33rem;
    /* padding-left: 0.27rem; */
    text-indent: 0.3rem;
}
.comment span {
    position: absolute;
    bottom: 0.4rem;
    right: 0.88rem;
    color: #E2E2E2;
    font-size: 0.24rem;
}

.present {
    width: 6.90rem;
    margin: 0.75rem auto;
    display: flex;
    flex-direction: row;
}
.present a {
    width: 6.90rem;
    height: 0.87rem;
    background: #9DE49C;
    color: #DBF4DB;
    font-size: 0.36rem;
    text-decoration: none;
    text-align: center;
    line-height: 0.87rem;
    border-radius: 5px;
}

@media screen and (min-width:50px) and (max-width:150px) {
    html {
        font-size: 15px;
    }
    .present {
        width: 150px;
    }
}

 @media screen and (min-width:150px) and (max-width:185px) {
    html {
        font-size: 20px;
    }
}
 @media screen and (min-width:185px) and (max-width:225px) {
    html {
        font-size: 25px;
    }
}

@media screen and (min-width:225px) and (max-width:264px) {
    html {
        font-size: 28px;
    }
}
@media screen and (min-width:264px) and (max-width:320px) {
    html {
        font-size: 35px;
    }
}

@media screen and (min-width:320px) and (max-width:360px) {
    html {
        font-size: 40px;
    }
}

@media screen and (min-width:360px) and (max-width:374px) {
    html {
        font-size: 45px;
    }
}


@media screen and (min-width:374px) and (max-width:414px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width:414px) and (max-width:485px) {
    html {
        font-size: 55px;
    }
}

@media screen and (min-width:485px) and (max-width:562px) {
    html {
        font-size: 65px;
    }
}

@media screen and (min-width:562px) and (max-width:768px) {
    html {
        font-size: 75px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    html {
        font-size: 100px;
    }
}

@media screen and (min-width:1024px) {
    html {
        font-size: 100px;
    }
}